<%- include('header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <figure class="highcharts-figure-coched">
                <div id="dechet-graph"></div>
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            J'ai personnellement passé une partie de mon enfance en bord de mer, et l'état de certaines plages m'a souvent choqué. <br/>
            En effet, bien que les algues vertes ou la pollution de l'eau soient des problèmes très médiatisés, le grand public a tendance à oublier un problème majeur, la pollution des plages. <br/>
            Ainsi, nous avons cherché à mettre en exergue ce problème socio-écologique majeur du 21e siècle. - <i>Romain Theodet 04/12/2001</i>
        </div>
    </div>
</div>

<script defer src="./js/stats.js"></script>
<%- include('footer') %>