<%- include('header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <figure class="highcharts-figure-coched">
                <div id="dechet-graph"></div>
            </figure>
        </div>
    </div>
</div>

<script defer src="./js/stats.js"></script>
<%- include('footer') %>