<!--<%- include('header') %>-->


<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h1>Carte de la pollution sur les plages</h1>
            <div id="mapPollution" style="width: 600px; height: 400px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h1>Carte du nombre de participation par ville</h1>
            <div id="mapRapport" style="width: 600px; height: 400px;"></div>
        </div>
    </div>
</div>
<!--<%- include('footer') %>-->