<!--<%- include('header') %>-->


<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div id="mapPollution" style="width: 600px; height: 400px;"></div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-lg-4">
            <div id="mapPollution" style="width: 600px; height: 400px;"></div>
        </div>
    </div>-->
</div>
<!--<%- include('footer') %>-->